################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/StrategySync/FileContentIndex/15ea8e07-cc3a-4a92-bc4c-c06100bd384f.vsidx
/.vs/StrategySync/FileContentIndex/26b20f53-6ea3-4dc1-9a14-0f33c39f5342.vsidx
/.vs/StrategySync/FileContentIndex/76842bdc-c4b4-46d7-ac8f-ba64102751c7.vsidx
/.vs/StrategySync/FileContentIndex/7fce3eac-b054-423f-afbe-a3ddfc720954.vsidx
/.vs/StrategySync/FileContentIndex/cb064581-aa59-4bee-9b5f-b209c5fa5fa4.vsidx
/.vs/StrategySync/FileContentIndex/49b5e91e-ffd6-4d37-9084-0bdd8165e768.vsidx
/.vs/StrategySync/FileContentIndex/ad2b7316-524a-451b-a116-3149d68970d0.vsidx
/.vs/StrategySync/FileContentIndex/c1a21a10-9648-45c5-ac5d-f4c2dfdab320.vsidx
/.vs/StrategySync/FileContentIndex/cedbccb2-d6f0-4826-a691-b3a28abbabfb.vsidx
/.vs/StrategySync/v17/.suo
/.vs/StrategySync/v17/DocumentLayout.backup.json
/.vs/StrategySync/v17/DocumentLayout.json
/bin/Debug/StrategySync.exe
/bin/Debug/StrategySync.pdb
