# Exclude Visual Studio temporary files and folders
.vs/

# Exclude build output folders
bin/
obj/

# Exclude user-specific files
*.suo
*.user
*.userosscache
*.sln.docstates

# Exclude generated debug and release files
*.exe
*.pdb
*.dll
*.cache
*.log
*.ide

# Exclude temporary files
*.tmp
*.bak
*.swp
