################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/StrategySync/FileContentIndex/15ea8e07-cc3a-4a92-bc4c-c06100bd384f.vsidx
/.vs/StrategySync/FileContentIndex/26b20f53-6ea3-4dc1-9a14-0f33c39f5342.vsidx
/.vs/StrategySync/FileContentIndex/76842bdc-c4b4-46d7-ac8f-ba64102751c7.vsidx
/.vs/StrategySync/FileContentIndex/7fce3eac-b054-423f-afbe-a3ddfc720954.vsidx
/.vs/StrategySync/FileContentIndex/cb064581-aa59-4bee-9b5f-b209c5fa5fa4.vsidx
